@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#b0573c;">
    <div class="text-center">
        <h1 class="display-4", style="color: black">Player Stats</h1>
         <img src="@ViewData["picture"]"/>
     </div> 
</body>
