<!doctype html>
<html>
@{
    ViewData["Title"] = "FaceitAPI";
    Layout = "~/Views/Shared/_EloOverlayLayout.cshtml";

}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <p style="font-size:160%;"> @ViewData["elo"]</p>
    
    <img class="elo" src="https://beta.leetify.com/assets/images/rank-icons/faceit9.svg" onclick="this.style.left='450px'", width="100"th, height="300";">
</body>

<html/>

