@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center">
    <h1 class="display-4">FaceitISSHIT</h1>
    </div> 

@section Scripts {
     <div id="faceitLogin"></div>
    <script src="https://cdn.faceit.com/oauth/faceit-oauth-sdk-1.2.6.min.js"
        type="text/javascript"></script>
    <script type="text/javascript">
        var initParams = {
            client_id: 'e9e58299-32c8-425d-9d12-0b61f4955774',
            response_type: 'code',
            redirect_popup: false,
            debug: true,
             
        };
        FACEIT.init(initParams);
       
        
    </script>
    
     
}
