@{
    ViewData["Title"] = "Information";
}
<body>
<h1>@ViewData["Title"]</h1>
    <p>
       This app is in progress.
    </p>
    <p>Its gonna be used to display information about games,stats,win probability etc.
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" style="float:right">
    </p>

    <p> Its using the Faceit API, which is from the platform for Developers in Faceit.

    </p>

    <p>Faceit is a website, where u play games like CSGO on competitive level bassed on Levels from 1-10.

    </p>
    <p>
        Faceit is a website, where u play games like CSGO on competitive level bassed on Levels from 1-10.
        U can win or lose Elo(points which affect your level).
    </p>
</body>