@{
    ViewData["Title"] = "FaceitAPI";
}
<button type="button">Display Player</button>
<h1>@ViewData["Title"]</h1>
<p>Nickname: @ViewData["nickname"]</p>
<p>FaceitElo: @ViewData["elo"]</p>

<iframe src="https://widgets.faceit.com/organizer/12c3c3c2-5246-4fd6-a3ea-f4ed0e8d5186#apiKey=8a136896-6859-4593-ba6a-03b12a5b91ba" 
style="{ width: 472px, height: 118px }"></iframe>

